@import "../../variables";

.container {
  height: 30px;
  display: flex;
  font-size: $font-size-medium;
  margin-top: 5px;
}

.item {
  margin: 0 10px;

  &:hover {
    cursor: pointer;
    color: $hightlight_orange;
  }
}

.itemText {
  line-height: 30px;
}