@import "../variables";

.container {
  display: flex;
  width: 100%;
  height: 100%;

  :global{
    body {background: black };
  }
}

.sideNav {
  flex-shrink:0;
  flex-basis: 150px;
  padding: 20px;

  background: $deepBlue;
}

.sideNavList {
  list-style: none;
  padding-left: 0;
}

.sideNavLinkElement {
  margin-bottom: 10px;
}

.sideNavLink{
  color: $white;
  text-decoration: none;
  transition: all 500ms ease;
}

.activeSideNavLink{
  color: orange;
  margin-left: 10px;

  &::before{
     content: "< "
   }

  &::after{
    content: " />"
  }
}

.mainAppContainer {
  width: 100%;
  background: $grey;
  overflow: auto;
}