$black: rgba(0, 0, 0, 1);
$deepBlue: rgba(20, 33, 61, 1);
$orange: rgba(252, 163, 17, 1);
$grey: rgba(229, 229, 229, 1);
$white: rgba(255, 255, 255, 1);

$highlight_red: rgba(246, 81, 29, 1);
$hightlight_orange: rgba(255, 180, 0, 1);
$hightlight_blue: rgba(0, 166, 237, 1);
$hightlight_green: rgba(127, 184, 0, 1);
$hightlight_dark-blue: rgba(13, 44, 84, 1);